.bpw-header-title{
    color:red !important;
}

.bpw-header-container{
    background-color: rgb(255, 0, 144) !important;
}


.bpw-bot-avatar svg{
    position: relative;
    z-index: -1;
    display: none;
    
  }
  
