.bpw-header-title{
    color:red !important;
}

.bpw-header-container{
    background-color: red !important;
}

.bpw-bot-avatar{
    display: none;
    position: relative;
}

.bpw-bot-avatar::after{
    content: "Test";
    position: absolute;
    top: 0;left: 0;
}